@model IEnumerable<EntityFramework.Models.Author>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorAge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AuthorFName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AuthorLName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AuthorAddress)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.AuthorAge)
    </th>
    <td>
        <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
    </td>
</tr>}
    </tbody>
</table>


<div>View Component'dan Gelen</div>
@await Component.InvokeAsync("AuthorList")