@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Bu bir ViewBag 2. istek -> @ViewBag.msg</h2> @* Kaydoldu *@
<h2>Bu bir ViewData 2. istek -> @ViewData["msg2"]</h2> @* Kaydoldu *@
<h2>Bu bir TempData 2. istek -> @TempData["msg3"]</h2>

@{
    //Bolum b = (Bolum)TempData["blm"];
    Bolum b = Model.blm;
    Ogrenci o = Model.ogr;
}
@*<h2>Bolumu -> @b.BolumAd</h2>*@
@*<h2>Ogrenci -> @Model.OgrAd</h2>*@

<h2>Bolumu -> @b.BolumAd</h2>
<h2>Ogrenci -> @o.OgrAd</h2>
